body {
    margin: 0;
    padding: 0;
    background: #ccc;
}
.container {
    box-sizing: border-box;
}

.panel-izquierdo {
    width: 65%;
    display: inline-block;
}

.logo {
    display: inline-block;
}

.img-logo {
    height: 60px;
    margin-top: 20px;
}

.titulo {
    margin-top: 35px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.input-texto {
    margin-left: 300px;
    width: 50%;
    height: 80%;
    background-color: #ccc;
    border: none;
    outline: none;
    color: #0A3871;
    font-size: 20px;
}

.botones {
    margin-left: 200px;
    margin-top: 270px;
}

#advertencia {
    margin-left: 98px;
    color: #0A3871;
    font-size: 15px;
}

.botones-izq {
    width: 40%;
    height: 40px;
    border-radius: 15px;
    color: #0A3871;
    font-size: 20px;
    background-color: #ccc;
    

}
.botones-izq:hover {
    background-color: #0A3871;
    color: #ccc;
}

.panel-derecho {
    width: 35%;
    float: right;
    margin-top: 85px;
}

.texto-area{
    background-color: #ccc;
    width: 75%;
    border: none;
    outline: none;
    color: #0A3871;
    font-size: 14px;
}

#btn-copiar{
    width: 40%;
    height: 40px;
    border-radius: 15px;
    color: #0A3871;
    font-size: 20px;
    background-color: #ccc;
    display: none;
}
#btn-copiar:hover{
    background-color: #0A3871;
    color: #ccc;
}

.p-footer{
    text-align: center;
    color: #0A3871;
    font-size: 13px;
    padding-top: 30px;

}


